<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dadaban.mapper.TaskMapper">
    <!--  新增记录  -->
    <insert id="insert" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into ddb_task(title,description,user_id) values(#{title},#{description},#{user.id})
    </insert>

    <select id="findAll" resultType="Task">
        select t.id, t.title, t.description,t.user_id from ddb_task t;
    </select>

</mapper>